.homebtn {
  margin-top: 9em;
  margin-left: 11em;
  width: 30em;
  height: 5em;
  font-size: 30px; 
  border-radius: 40px;
}

.signupcard {
  width: 40em;
  height: 28em;
  border: 2px solid black;
  border-radius: 20px;
  margin-left: 26em;
  margin-top: 6em;
}

.fbox {
  width: 31em;
}

.signupcard h2 {
  text-align: center;
  font-size: 40px;
  margin: 0.5em;
}

.signupbox {
  margin-left: 4em;
}

.subt {
  margin-left: 11em;
  width: 10em;
  margin-top: 1em;
}

.sidebar {
  height: 100vh;
  width: 25vw;
  border-right: 2px solid black;  
}

.logo {
  width: 10em;
  margin-left: 6em;
  margin-top: 3em;
  border-radius: 70px;
}

.sideul {
  margin-top: 5em;
  margin-left: 8em;
}

.inline1 {
  float: left;
}

.inline2 {
  margin-left: 25vw;
  padding-top: 5vh;
  border-top: 2px solid black;
}

.addtodoheader {
  padding-left: 2vw;
}

.addtodobtn {
  margin-left: 2vw;
  width: 100px;
}

.logout {
  margin-left: 65%;
  margin-bottom: 1%;
  margin-top: 15px;
  width: 100px;

}

.addtodobtn {
  margin-left: 86.5%;
  width: 100px;
}

.list {
	width: 800px;
	margin: 0 auto;
}

.x {
  /* margin-left: 10%; */
  float: right;
  color: #c0392b;
  transition: all 0.3s;

}

.x:hover {
  color: #e74c3c
  
}

.task {
	width: 100%;
	height: 60px;
	line-height: 60px;
	font-size: 20px;
	padding: 0 20px;
	color: #34495e;
	transition: all .3s ease;
}
.task:hover {
	background: rgba(0, 0, 0, .02);
	cursor: pointer;
}

